body{
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
}
table{
    border: 2px solid black;
    padding: 10px;
}